::ng-deep .ant-upload-picture-card-wrapper {
  width: 0%;
}

::ng-deep .avatar-uploader>.ant-upload {
  width: 25vw;
  height: 15vh;
  margin-left: 7vw;
}

::ng-deep .ant-upload.ant-upload-select-picture-card {
  width: 24.5vw;
  height: 24.5vw;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color .3s;
}

::ng-deep .ant-input-affix-wrapper {
  position: relative;
  width: 100%;
  height: 6vw;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, .85);
  line-height: 1.5715;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  transition: all .3s;
  display: inline-flex;
}

.container {
  padding: 10px;
}

.header {
  display: flex;
  padding: 5px;
}

.dflex {
  display: flex;
}

.title-text {
  font-size: 14x;
}

.icon-back {
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-back:hover {
  background-color: aqua;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jct-bw{
  width: 100%;
  justify-content: space-between;
}

.button-upload {
  padding: 8px;
  background-color: #2f26a7;
  color: white;
  border-radius: 20px;
  border: none;
  width: 20vw;
  height: 8vw;
}

.button-upload:hover {
  background-color: orange;
  color: black;
  font-weight: bold;
}

.button-camera {
  padding: 8px;
  background-color: #2aa01f;
  color: white;
  border-radius: 20px;
  border: none;
  width: 20vw;
  height: 8vw;
}

.button-camera:hover {
  background-color: orange;
  color: black;
  font-weight: bold;
}


.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.button-add-product {
  margin-top: 25px;
  border: none;
  border-radius: 40px;
  width: 42vw;
  height: 8vw;
  background-color: green;
  color: white;
}

.button-add-product:hover {
  background-color: orange;
  color: black;
  font-weight: bold;
}

.center-upload {
  display: flex;
  flex-direction: column;
  left: 16vw;
  bottom: 1.4vw;
}

.margin-tb {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 5%;
}
