<div>
  <div class="header">
    <div class="btn-back">
      <span nz-icon nzType="left" nzTheme="outline" class="icon-back"></span>
    </div>
    <div class="title-addProduct">
      <span>Thêm sản phẩm</span>
    </div>
  </div>
  <form nz-form>
    <div>
      <div class="form-upload">
        <div class="form-img">
          <nz-upload
            class="avatar-uploader"
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            nzName="avatar"
            nzListType="picture-card"
            [nzShowUploadList]="false"
            [nzBeforeUpload]="beforeUpload"
            (nzChange)="handleChange($event)"
          >
            <ng-container *ngIf="!avatarUrl">
              <span
                class="upload-icon"
                nz-icon
                [nzType]="loading ? 'loading' : 'plus'"
              ></span>
              <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
          </nz-upload>
        </div>
        <div class="form-uploadImg">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <input
                  type="text"
                  nz-input
                  formControlName="codeProduct"
                  placeholder="Mã sản phẩm"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <input
                  type="text"
                  nz-input
                  formControlName="floorPrice"
                  placeholder="Giá bán: 0"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <input
                  type="text"
                  nz-input
                  formControlName="quantityProduct"
                  placeholder="SL tồn:(*) 0"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="form-body">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="nameProduct"
                placeholder="Tên SP:(*) "
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="form-">

        </div>
      </div>
    </div>
  </form>
</div>
