* {
  box-sizing: border-box;
}

::ng-deep .ant-upload-picture-card-wrapper {
  width: 0%;
}

::ng-deep .avatar-uploader>.ant-upload {
  width: 25vw;
  height: 15vh;
  margin-left: 7vw;
}

::ng-deep .ant-upload.ant-upload-select-picture-card {
  width: 24.5vw;
  height: 24.5vw;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color .3s;
}

::ng-deep .ant-input-affix-wrapper {
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 1vw;
  color: rgba(0, 0, 0, .85);
  line-height: 1.5715;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  display: inline-flex;
  font-size: 4vw;
}

::ng-deep .ant-form-item {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  vertical-align: top;
  transition: margin-bottom .3s 17ms linear;
}

.input {
  font-size: 4vw;
  border-radius: 5px;
}

.codeProduct {
  padding: 2vw 1vw;
}

.container {
  padding: 3vw;
}

.header {
  display: flex;
  padding: 3vw 0;
  align-items: center;
  border-bottom: #d9d9d9 1px solid;
}

.dflex {
  display: flex;
}

.upload_icon {
  font-size: 25vw;
}

.title-text {
  font-size: 5vw;
  font-weight: bold;
}

.icon-back {
  font-size: 4vw;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jct-bw {
  width: 100%;
  justify-content: space-between;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3vw;
}

.button-upload {
  border: none;
  width: 21vw;
  height: 10vw;
  border-radius: 20px;
  background-color: #1E5993;
  color: white;
  border: none;
}

.button-camera {
  width: 26vw;
  height: 10vw;
  border-radius: 20px;  
  background-color: #0E6F64;
  color: white;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.description {
  font-size: 4vw;
  height: 25vw;
  width: 100%;
  border-radius: 5px;
  padding: 3vw;
  border-color: #d9d9d9;
}

.button-add-product {
  margin-top: 25px;
  border: none;
  border-radius: 40px;
  width: 42vw;
  height: 8vw;
  background-color: green;
  color: white;
}

.center-upload {
  display: flex;
  flex-direction: column;
  left: 8vw;
  bottom: 1.4vw;
}

.margin-tb-quantity {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  height: 5%;
}

.margin-tb {
  margin-top: 5vw;
  margin-bottom: 5vw;
  height: 5%;
}


@media screen and (max-width: 424) {
  .header {
    display: flex;
    padding: 5px;
    margin-top: 1vw;
    margin-bottom: 2vw;
  }
}

/* @media screen and (max-width: 767px) {
  .button-upload {
    padding: 8px;
    background-color: #2f26a7;
    color: white;
    border-radius: 20px;
    border: none;
    width: 20vw;
    height: 8vw;
  }
  
  .button-camera {
    padding: 8px;
    background-color: #2aa01f;
    color: white;
    border-radius: 20px;
    border: none;
    width: 20vw;
    height: 8vw;
  }
} */
