* {
  box-sizing: border-box;
}

::ng-deep .ant-upload-picture-card-wrapper {
  width: 0%;
}

::ng-deep .avatar-uploader > .ant-upload {
  width: 25vw;
  height: 15vh;
  /* height: 25vw; */
  margin-left: 7vw;
}
::ng-deep .ant-upload-list-picture-card-container {
  margin-left: 8vw;
  margin-top: 5vh;
  width: 24.5vw;
  height: 24.5vw;
}

::ng-deep .ant-upload.ant-upload-select-picture-card {
  width: 24.5vw;
  height: 24.5vw;
  margin-left: 8vw;
  margin-top: 5vh;
  text-align: center;
  vertical-align: top;
  background-color: #fff;
  border: 1px dashed #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 100s;
}

::ng-deep .ant-input-affix-wrapper {
  position: relative;
  width: 100%;
  min-width: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  background-image: none;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  display: inline-flex;
  font-size: 3vw;
}

::ng-deep .ant-form-item {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  vertical-align: top;
  transition: margin-bottom 0.3s 17ms linear;
}
::ng-deep .ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: #fff;
  width: 40vw;
  /* height: 30vh; */
  height: 50vw;
  position: absolute;
  z-index: 3;
  top:3vw;
  left: -1vw;
}

::ng-deep #cdk-overlay-0 {
  top: 50 !important;
  right: 15vw !important;
}


.color-floorPrice{
  color: rgb(214, 54, 54);
}

.input {
  font-size: 3.5vw;
  border-radius: 5px;
}
.datePicker {
  font-size: 5.5vw;
}
::ng-deep .ant-picker-input > input {
  font-size: 3.2vw;
}

::ng-deep .ant-picker-input > input:placeholder-shown {
  font-size: 3.5vw;
}

.container {
  padding: 3vw;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: #d9d9d9 1px solid;
  position: fixed;
  z-index: 10;
  top: -2px;
  background-color: #ffffff;
  width: 100%;
  height: 12vw;
}

.dflex {
  display: flex;
}

.upload_icon {
  font-size: 25vw;
}

.title-text {
  font-size: 5vw;
  font-weight: 500;
  color: #6b6969;
}

.icon-back {
  font-size: 4vw;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jct-bw {
  width: 100%;
  justify-content: space-between;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3vw;
}

.button-upload {
  border: none;
  width: 21vw;
  height: 10vw;
  border-radius: 20px;
  background-color: #1e5993;
  color: white;
}

.button-camera {
  width: 26vw;
  height: 10vw;
  border-radius: 20px;
  background-color: #0e6f64;
  color: white;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.description {
  font-size: 4vw;
  height: 25vw;
  width: 100%;
  border-radius: 5px;
  padding: 3vw;
  border-color: #d9d9d9;
  resize: none;
  outline: none;
}

.button-add-product {
  margin-top: 25px;
  border: none;
  border-radius: 40px;
  width: 60vw;
  height: 10vw;
  background-color: #0e6f64;
  color: white;
  font-size: 4vw;
  font-weight: bold;
}

.center-upload {
  display: flex;
  flex-direction: column;
  left: 8vw;
  bottom: 1.4vw;
}

.margin-tb-quantity {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  height: 5%;
}

.margin-tb {
  margin-top: 5vw;
  margin-bottom: 5vw;
  height: 5%;
}

@media (min-width: 768px) {
  .button-upload {
    border: none;
    width: 21vw;
    height: 6vw;
    border-radius: 20px;
    background-color: #1e5993;
    color: white;
  }

  .button-camera {
    width: 26vw;
    height: 6vw;
    border-radius: 20px;
    background-color: #0e6f64;
    color: white;
    border: none;
  }

  ::ng-deep .ant-form-item {
    box-sizing: border-box;
    margin: -5px;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    vertical-align: top;
    transition: margin-bottom 0.3s 17ms linear;
  }

  .title-text {
    font-size: 3vw;
    font-weight: 500;
    color: #6b6969;
    padding-bottom: 1vw;
  }

  .description {
    font-size: 4vw;
    height: 15vw;
    width: 100%;
    border-radius: 5px;
    padding: 1vw;
    border-color: #d9d9d9;
  }
}
