* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart_container {
    position: relative;
}

.warning {
    margin-top: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning>span {
    font-size: 13vw;
    color: #d9d9d9;
    margin-bottom: 3vw;
}

.warning>p {
    font-size: 3.5vw;
}

.header__cart {
    display: flex;
    position: fixed;
    background-color: white;
    top: -0.8vw;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    padding: 2vw 5vw;
    align-items: center;
    border-bottom: 1px #d9d9d9 solid;
}

.tag__back {
    font-size: 4vw;
}

.tag__title {
    font-size: 5vw;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.tag__delete {
    font-size: 4vw;
    font-weight: bold;
    color: #c7393c;
    display: flex;
    justify-content: end;
}

.div__below {
    height: 46vw;
}

.footer__cart {
    position: fixed;
    background-color: white;
    bottom: 0;
    padding-bottom: 2vw;
}

.footer_customer {
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-top: 2vw;
}

.customer_img {
    align-self: center;
}

.customer_img>img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
}

.customer_info {
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
}

.customer_info>p {
    font-weight: 600;
    font-size: 4.5vw;
}

.info_phone {
    color: #c7393c;
    font-size: 4vw;
    line-height: normal;
}

.info_address {
    font-size: 3.5vw;
    color: #afafaf;
}

.customer_click {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer_click>button {
    background-color: #1E5993;
    color: white;
    width: 30vw;
    height: 11vw;
    border-radius: 1vw;
    font-size: 4.5vw;
    font-weight: 500;
    border: none;
}

.below_price {
    border-top: 1px #d9d9d9 solid;
    padding: 3vw 0 3.5vw 3vw;
}

.shipPrice {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    margin-bottom: 1vw;
}

.shipPrice_text {
    font-size: 4vw;
}

.shipPrice_number {
    font-size: 4vw;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
}

.totalPrice_text {
    font-size: 4.5vw;
    font-weight: 500;
    color: #1E5993;
}

.totalPrice_number {
    font-size: 4.5vw;
    font-weight: 500;
    color: #c7393c;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.customer_submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer_submit>.btn_submit {
    background-color: #ff4e00;
    width: 27vw;
    height: 11vw;
    color: white;
    border-radius: 1vw;
    font-size: 4.5vw;
    font-weight: 500;
    border: none;
}

.customer_submit>.btn_submit:disabled {
    opacity: 0.4;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@media (min-width: 768px) {
    .header__cart {
        top: -1vw;
    }

    .footer__cart {
        bottom: -1vw;
        margin-bottom: 1vw;
    }

    .click_customer {
        font-size: 3vw;
    }

    .customer_click>button {
        padding: 1vw 0vw;
        font-size: 4vw;
        font-weight: 500;
        border: none;
    }

    .below_price {
        border-top: 1px #afafaf solid;
        padding: 2vw 0 3vw 3vw;
    }

    .shipPrice {
        padding-left: 0.5vw;
    }

    .totalPrice {
        padding-left: 0.5vw;
    }

    .totalPrice_text {
        font-size: 4vw;
        font-weight: bold;
        color: #1E5993;
    }

    .totalPrice_number {
        font-size: 4vw;
        font-weight: bold;
        color: #c7393c;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}