<cModal [isVisible]="isVisible" (closeModal)="handleCloseModal()" width="93%" [isCentered]="true" [footer]="false">
    <Content>
        <div class="content">
            <div nz-row style="padding-bottom: 3vw;">
                <div nz-col nzSpan="12" class="image-container">
                    <img nz-image width="100%" height="100%"
                        nzSrc="http://{{ProductDetail.imageUrl}}__{{token}}"
                        alt="No Image or Image is broken"/>
                </div>
                <div nz-col nzSpan="12" class="info-container">
                    <div class="productName">{{ProductDetail.nameProduct}}</div>
                    <div class="floorPrice">{{ProductDetail.floorPrice | number}}</div>
                    <div class="quantityProduct">Tồn kho: {{ProductDetail.quantityProduct}}</div>
                    <form nz-form [formGroup]="validateAddCartForm">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="editPriceValidate">
                                <nz-input-group [nzPrefix]="prefixTemplate" style="width: 100%;">
                                    <input class="input" type="number" nz-input formControlName="editPrice"/>
                                </nz-input-group>
                                <ng-template #prefixTemplate>
                                    <div class="input-name">Sửa giá:</div>
                                </ng-template>
                                <ng-template #editPriceValidate let-control>
                                    @if (control.errors?.['required']) {
                                    Vui lòng nhập giá tiền!
                                    }
                                    @if (control.errors?.['confirm']) {
                                    Giá tiền không được nhỏ hơn hoặc lớn hơn giá gốc 10%
                                    }
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control nzRequired [nzErrorTip]="rateValidator">
                                <nz-input-group [nzPrefix]="prefixTemplateRate">
                                    <input type="number" nz-input formControlName="rate" class="input"/>
                                </nz-input-group>
                                <ng-template #prefixTemplateRate>
                                    <button
                                     *ngIf="plus === false" [class]="validateAddCartForm.value.rate === 0 || validateAddCartForm.value.rate == null ? 'minusRate_disable' : 'minusRate'" nz-button (click)="validateAddCartForm.value.rate !== 0 && validateAddCartForm.value.rate != null && handlePlusRate()">
                                        <span style="color: white;" nz-icon nzType="minus"></span>
                                    </button>
                                    <button
                                    *ngIf="plus === true" [class]="validateAddCartForm.value.rate === 0 || validateAddCartForm.value.rate == null ? 'plusRate_disable' : 'plusRate'"  nz-button (click)="validateAddCartForm.value.rate !== 0 && validateAddCartForm.value.rate != null && handlePlusRate()">
                                        <span style="color: white;" nz-icon nzType="plus"></span>
                                    </button>
                                </ng-template>

                                <ng-template #rateValidator let-control>
                                    @if (control.errors?.['required']) {
                                    Vui lòng nhập giá chênh lệch!
                                    }
                                    @if (control.errors?.['confirm']) {
                                    Vui lòng nhập giá chênh lệch không được nhỏ hơn hoặc lớn hơn 10%
                                    }
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="quantityValidate">
                                <nz-input-group [nzPrefix]="prefixTemplateQuantity">
                                    <input type="number" nz-input formControlName="quantity" class="input"/>
                                </nz-input-group>
                                <ng-template #prefixTemplateQuantity>
                                    <div class="input-name">
                                        Số lượng:
                                    </div>
                                </ng-template>
                                <ng-template #quantityValidate let-control>
                                    @if (control.errors?.['required']) {
                                    Vui lòng nhập số lượng!
                                    }
                                    @if (control.errors?.['confirm']) {
                                    Vui lòng nhập số lượng lớn hơn hoặc bằng 1!
                                    }
                                    @if (control.errors?.['invalid']) {
                                    Số lượng chọn nhiều hơn số lượng sẵn có!
                                    }
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </div>
            <div *ngIf="enableDescription === true" [@slideInOut]>
                <div class="productName">Mô tả ngắn:</div>
                <div class="descriptionContent">
                    {{ProductDetail.description}}
                </div>
            </div>
            <div nz-row nzJustify="space-between">
                <div nz-col nzSpan="9">
                    <button nz-button class="detailButton" (click)="handleEnableDescription()">
                        <span>{{enableDescription === false ? 'Xem chi tiết' : 'Thu gọn'}}</span>
                        <span class="icon-container">
                             <span *ngIf="enableDescription === true" nz-icon nzType="up" nzTheme="outline"></span>
                             <span *ngIf="enableDescription === false" nz-icon nzType="down" nzTheme="outline"></span>
                        </span>
                    </button>
                </div>
                <div nz-col nzSpan="6">
                    <button nz-button class="cancelButton" (click)="handleCloseModal()"> Hủy </button>
                </div>
                <div nz-col nzSpan="7">
                    <button nz-button [class]="validateAddCartForm.invalid ? 'submitButton_disable':'submitButton'" (click)="!validateAddCartForm.invalid&&handleSubmit()">Thêm</button>
                </div>
            </div>
        </div>
    </Content>
</cModal>