.content {
    padding: 3vw;
}

.image-container{
    padding-right: 1vw;
    align-self: center;
    padding-right: 2vw;
    aspect-ratio: 1/1;
    width: 100%;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

::ng-deep .ant-input-affix-wrapper {
    padding: 0.3vw;
}

.input {
    padding: 0.5vw;
    font-size: 3vw;
}

.productName {
    color: #333333;
    font-size: 4.8vw;
    font-weight: 400;
    line-height: normal;
    font-family: Roboto, "Helvetica Sans", sans-serif;
}

.floorPrice {
    margin-bottom: 2px;
    color: #C7393C;
    font-size: 4.3vw;
    font-weight: bold;
}

.quantityProduct{
    margin-bottom: 18px;
    color: #707070;
    font-size: 3vw;
}

.detailButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vw;
    font-size: 3.2vw;
    border-radius: 25px;
    width: 100%;
    background-color: #1E5993;
    color: white
}

.cancelButton {
    height: 9vw;
    font-size: 3.2vw;
    border-radius: 25px;
    width: 100%;
    background-color: #C7393C;
    color: white  
}

.submitButton {
    height: 9vw;
    font-size: 3.2vw;
    border-radius: 25px;
    width: 100%;
    background-color: #0E6F64;
    color: white    
}

.submitButton_disable {
    opacity: 0.5;
    height: 9vw;
    font-size: 3.2vw;
    border-radius: 25px;
    width: 100%;
    background-color: #0E6F64;
    color: white    
}

::ng-deep .ant-form-item{
    margin: 0 0 4px
}

.minusRate {
    background-color: #C7393C;
    min-width: 40px;
    min-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    font-size: 3.0vw;
}

.minusRate_disable{
    opacity: 0.5;
    background-color: #C7393C;
    min-width: 40px;
    min-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    font-size: 3.0vw;
}

.plusRate {
    background-color: #0E6F64;
    min-width: 40px;
    min-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    font-size: 3.0vw;
}

.plusRate_disable {
    opacity: 0.5;
    background-color: #0E6F64;
    min-width: 40px;
    min-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    font-size: 3.0vw;
}

.descriptionContent {
    color: #707070;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 4vw;
    max-height: 30vw;
    overflow-y: scroll;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-container {
    margin-left: 2px;
    text-align: center;
}

.input-name{
    color: #8f8f8f;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .content {
        padding: 3vw;
    }

    .image-container{
        align-self: center;
    }
    
    .image-container img{
        aspect-ratio: 1/1;
        width: 80%;
        border-radius: 5%;
    }

    .productName {
        font-size: 4.5vw;
    }

    .floorPrice {
        font-size: 4vw;
    }

    ::ng-deep .ant-input-affix-wrapper {
        padding: 1vw;
        font-size: 3vw;
    }

    .minusRate {
        min-width: 70px;
        min-height: 60px;
    }
    
    .plusRate {
        min-width: 70px;
        min-height: 60px;
    }

    .input {
        font-size: 3vw;
    }

    .detailButton {
        height: 7vw;
        font-size: 3.2vw;
        border-radius: 30px;
    }
    
    .cancelButton {
        height: 7vw;
        font-size: 3.2vw;
        border-radius: 30px; 
    }
    
    .submitButton {
        height: 7vw;
        font-size: 3.2vw;
        border-radius: 30px;   
    }

    .descriptionContent {
        font-size: 3vw;
    }
}