.modal_title{
    padding: 2vw 5vw;
    font-size: 5vw;
    font-weight: 600;
}

.modal_content{
    width: 90vw;
    padding: 0vw 5vw 0vw 5vw;
}

.form_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.form_select {
    margin-top: -4vw;
}

.label {
    padding-bottom: 0 !important;
}

.footer {
    margin-right: 1vw; 
    padding-bottom: 3vw;
}

.add_submit {
    background-color: #0E6F64;
    margin-right: 3vw;
    padding: 1vw 4vw;   
    border-radius: 2vw;
    color: white;
    font-size: 4vw;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.add_cancel {
    background-color: #C7393C;
    padding: 1vw 4vw;   
    border-radius: 2vw;
    font-size: 4vw;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: none;
}
