<cModal [isVisible]="isVisible" (closeModal)="handleCloseModal(); handleResetState()">
  <Content>
    <h3 class="modal_title">Thêm nhân viên</h3>
    <div class="modal_content">
        <form nz-form [formGroup]="validateFormAddUser">
          <nz-form-item class="form_item" >
            <nz-form-control [nzErrorTip]="userValidator">
              <nz-form-label class="label" nzRequired>Họ và tên:</nz-form-label>
              <input class="input" nz-input formControlName="fullname"/>
              <ng-template #userValidator let-control>
                @if (control.errors?.['required']) {
                Vui lòng nhập tên người dùng!
                }
                @if (control.errors?.['confirm']) {
                Tên người dùng không được vượt quá 255 ký tự!
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="form_item" >
            <nz-form-control [nzErrorTip]="addressValidator" >
              <nz-form-label class="label" nzRequired>Địa chỉ:</nz-form-label>
              <input class="input" nz-input formControlName="address"/>
              <ng-template #addressValidator let-control>
                @if (control.errors?.['required']) {
                Vui lòng nhập địa chỉ!
                }
                @if (control.errors?.['confirm']) {
                Địa chỉ không được vượt quá 255 ký tự!
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="form_item" >
            <nz-form-control [nzErrorTip]="phoneValidator">
              <nz-form-label class="label" nzRequired>Số điện thoại:</nz-form-label>
              <input class="input" nz-input formControlName="phone" />
              <ng-template #phoneValidator let-control>
                @if (control.errors?.['required']) {
                Vui lòng nhập đúng định dạng SĐT!
                }
                @if (control.errors?.['confirm']) {
                SĐT không được vượt quá 11 số!
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item >
            <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
              <nz-form-label class="label" nzRequired>Mật khẩu:</nz-form-label>
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordValidator" nzErrorTip="Please input your Password!">
                <input
                  class="input"
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="password"
                  nz-input
                />
              </nz-input-group>
              <ng-template #passwordValidator let-control>
                <span
                  nz-icon
                  [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                  (click)="passwordVisible = !passwordVisible"
                ></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="form_select">
            <nz-form-label nz-col nzSpan="24" class="label"
              >Chức vụ:</nz-form-label
            >
            <nz-form-control>
              <nz-select
                class="input"
                nz-col
                nzSpan="24"
                formControlName="role"
                (ngModelChange)="handleChangeRole($event)"
              >
                <nz-option nzValue="ROLE_SALE" nzLabel="Sale"></nz-option>
                <nz-option
                  nzValue="ROLE_WAREHOUSE"
                  nzLabel="WareHouse"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </form>
    </div>
  </Content>
  <Footer>
    <div class="footer">
      <button class="add_submit" (click)="handleAddAccount()">Xác nhận</button>
      <button class="add_cancel" (click)="handleCloseModal(); handleResetState()">Hủy</button>
    </div>
  </Footer>
</cModal>
