<div *ngIf="listCard.length == 0" class="no-data">
  <div style="display: flex; flex-direction: column;">
    <span nz-icon nzType="warning" nzTheme="outline" style="font-size: 16vw;color: #a3a3a3;"></span>
    <span style="margin-top: 8%;color: #515151; font-size: 4vw;">Không tìm thấy dữ liệu</span>
  </div>
</div>
<cCard *ngFor="let item of listCard" (click)="handleOnClickDetail(item)">
  <Content>
    <div class="main-card">
      <div nz-col nzSpan="7" class="card-img">
        <img nz-image nzSrc="http://{{item.imageUrl}}" alt="" nzDisablePreview="true" />
      </div>
      <div nz-col nzSpan="11" class="card-info">
        <div nz-row>
          <span class="nameProduct-card">
            {{item.nameProduct}}
          </span>
        </div>
        <div nz-row>
          <span class="textProduct-card">{{item.unit}}</span>
        </div>
        <div nz-row>
          <span class="textProduct-card">{{item.origin}}</span>
        </div>
        <div nz-row>
          <span class="textProduct-card">{{item.codeProduct}}</span>
        </div>
      </div>
      <div nz-col nzSpan="6" class="card-info">
        <div nz-row class="flex-end">
          <span class="floorPrice-card">{{item.floorPrice | number}}</span>
        </div>
        <div nz-row class="flex-end">
          <span class="textProduct-card">{{item.expiredDate| date: 'dd/MM/yyyy'}}</span>
        </div>
        <div nz-row class="flex-end">
          <span class="textProduct-card">{{item.quantityProduct}}</span>
        </div>
      </div>
    </div>
  </Content>
</cCard>