* {
  font-family: Arial, Helvetica, sans-serif !important;
  width: 100%;
}
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100vw;
  position: relative;
}
.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.icon-menu {
  font-size: 30px;
}
.header-trigger {
  cursor: pointer;
  color: #fff;
}

.header-menu {
  width: 100vw;
  position: absolute;
  z-index: 2;
  background-color: #3c7265;
  padding: 1% 0px 2% 0px;
}
.on-top {
  width: 100vw;
  margin-top: 10vh;
}

.searchInput {
  text-align: center;
  padding: 10px 10px 0px 10px;
  margin-top: 3%;
}
.input-search {
  border-radius: 25px !important;
  background-color: #25403b;
  border: none;
}
.icon-search {
  color: #fff !important;
}
.inputSearch-header {
  background-color: #25403b;
  color: #fff;
}
@media only screen and (max-width: 400px) {
  .icon-menu {
    font-size: 24px;
    margin-top: 5%;
  }
  .header-trigger {
    cursor: pointer;
    color: #fff;
  }
}

nz-badge {
  margin-right: 20px;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

.cart-navigate {
  width: 35%;
  height: 6%;
  position: fixed;
  bottom: 5%;
  right: 8%;
  z-index: 10;
  border: none;
  padding: 0;
}

.cart-button {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vw;
  background-color: #3c7265;
  color: #fff;
  align-items: center;
  border-radius: 27px;
  font-size: 5vw;
}

.item-count {
  position: absolute;
  top: -25%;
  right: 2%;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  font-size: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  font-size: 6vw;
  padding: 0 2vw;
  width: auto;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}

.spinner {
  /* Add your loading spinner styles here */
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
