.modal_title{
    padding: 2vw 5vw;
    font-size: 5vw;
    font-weight: 600;
}

.modal_content{
    width: 90vw;
    padding: 0 5vw 5vw 5vw;
}

.form_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw !important;
}

.form_select {
    margin-top: 0vw;
}

.label {
    padding-bottom: 0 !important;
}

.footer {
    margin-right: 1vw; 
    padding-bottom: 3vw;
}

.add_submit {
    background-color: #0E6F64;
    margin-right: 3vw;
    padding: 1vw 4vw;   
    border-radius: 2vw;
    color: white;
    border: none;
    font-size: 4vw;
    font-weight: 500;
    cursor: pointer;
}

.add_cancel {
    background-color: #C7393C;
    padding: 1vw 4vw;   
    border-radius: 2vw;
    font-size: 4vw;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: none;
}

.ant-form-item{
    margin: 0;
}

.flex-end{
    justify-content: flex-end;
}

@media (min-width: 768px){
    ::ng-deep .ant-select-selector{
        height: fit-content !important;
        padding: 11px 4px !important;
    }

    .content_info> label{
        width: 100%;
        font-size: 3vw;
        font-weight: bold;
    }

    .modal_title{
        padding: 2vw 5vw 0vw 5vw;
        font-size: 4vw;
        font-weight: 600;
    }

    .form_select {
        margin-top: 0vw;
    }

    .footer {
        margin-right: 3vw; 
    }

    .add_submit {
        padding: 0.5vw 3vw;  
        font-size: 3vw;
        border-radius: 1vw;
    }
    
    .add_cancel {
        padding: 0.5vw 3vw;   
        font-size: 3vw;
        border-radius: 1vw;
    }

    ::ng-deep .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        height: 4vw !important;
        padding: 0 !important;
        padding-left: 1vw !important;
    }
}

