<cModal [isVisible]="isVisible" (closeModal)="handleCloseModal()">
  <Content>
    <h3 class="modal_title">Sửa nhân viên</h3>
    <div class="modal_content">
      <form nz-form [formGroup]="validateFormAddUser">
        <nz-form-item class="form_item">
          <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
            <nz-form-label class="label" nzRequired >Mật khẩu:</nz-form-label>
            <nz-input-group class="input" nzPrefixIcon="lock" [nzSuffix]="passwordSuffixTemplate"
            nzErrorTip="Please input your Password!">
            <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input class="input" />
            <ng-template #passwordSuffixTemplate>
              <span nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                (click)="togglePasswordVisibility()"></span>
            </ng-template>
          </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="form_item">
          <nz-form-control nzErrorTip="Vui lòng nhập xác nhật mật khẩu!">
            <nz-form-label class="label" nzRequired >Xác nhật mật khẩu:</nz-form-label>
            <nz-input-group class="input" nzPrefixIcon="lock" [nzSuffix]="newPasswordSuffixTemplate"
            nzErrorTip="Please input your Password!">
            <input [type]="newPasswordVisible ? 'text' : 'password'" formControlName="newPassword" nz-input class="input" />
            <ng-template #newPasswordSuffixTemplate>
              <span nz-icon [nzType]="newPasswordVisible ? 'eye' : 'eye-invisible'"
                (click)="toggleNewPasswordVisibility()"></span>
            </ng-template>
          </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form_select">
          <nz-form-label nz-col nzSpan="24" class="label"
            >Chức vụ:</nz-form-label
          >
          <nz-form-control>
            <nz-select
              class="input"
              nz-col
              nzSpan="24"
              formControlName="role"
              (ngModelChange)="handleChangeRole($event)"
            >
              <nz-option nzValue="ROLE_SALE" nzLabel="Sale"></nz-option>
              <nz-option nzValue="ROLE_WAREHOUSE" nzLabel="WareHouse" ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>
  </Content>
  <Footer>
    <div class="footer">
      <button class="add_submit" (click)="handleUpdateAccount()">Xác nhận</button>
      <button class="add_cancel" (click)="handleCloseModal()">Hủy</button>
    </div>
  </Footer>
</cModal>