.modal_title{
    color: #dd8706;
    padding: 2vw 5vw;
    font-size: 5vw;
    font-weight: 600;
}

.modal_content{
    width: 90vw;
    padding: 0 5vw 5vw;
}

.content_info {
    display: flex;
    width: 100% ;
    margin-bottom: 4vw;
    align-items: center;

}

.content_info> label{
    width: 100%;
    font-size: 3.5vw;
    font-weight: bold;
}

.input {
    height: 5vw;
    font-size: 3.5vw;
}

/* ::ng-deep .ant-select-selector {
    height: 6vw !important;
    font-size: 3.5vw;
} */

::ng-deep .ant-select-selector{
    height: fit-content !important;
    padding: 0px 4px !important;
}

::ng-deep .ant-select-item{
    font-size: 3vw !important;
}

.content_select{
    /* height: 6vw !important; */
    font-size: 3.5vw;
    height: fit-content;
}

.select_option {
    height: 5vw;
    font-size: 3.5vw;
    background-color: #d14444;
}

.add_submit {
    background-color: #0E6F64;
    margin-right: 3vw;
    padding: 1vw 4vw;   
    border-radius: 2vw;
    color: white;
    border: none;
    font-size: 4vw;
    font-weight: 500;
    cursor: pointer;
}

.add_cancel {
    background-color: #C7393C;
    padding: 1vw 4vw;   
    border-radius: 2vw;
    font-size: 4vw;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: none;
}

.ant-form-item{
    margin: 0;
}

.flex-end{
    justify-content: flex-end;
}

@media (min-width: 768px){
    ::ng-deep .ant-select-selector{
        height: fit-content !important;
        padding: 11px 4px !important;
    }

    .content_info> label{
        width: 100%;
        font-size: 3vw;
        font-weight: bold;
    }
}
