* {
    padding: 0;
    margin: 0;
}

.main-card {
    padding: 3vw;
}

::ng-deep .ant-card-body {
    padding: 0 !important;
}

.image_product img {
    width: 100%;
    aspect-ratio: 1/1;
}

.nameProduct {
    display: flex;
    justify-content: end;
    font-size: 4vw;
}

.editPrice {
    font-size: 4vw;
    color: #1E5993;
}

.quantity {
    display: flex;
    justify-content: flex-end;
    font-size: 4vw;
    font-weight: bold;
    color: #1E5993;
}

.unit {
    font-size: 4vw;
    color: #afafaf;
}

.totalPriceProduct {
    display: flex;
    justify-content: flex-end;
    font-size: 4vw;
    font-weight: bold;
    color: red;
}