<div *ngIf="listCardOrderDetail.length == 0">Không có dữ liệu</div>
<cCard *ngFor="let item of listCardOrderDetail">
  <Content>
    <div class="main-card">
      <div nz-col nzSpan="6">
        <div class="image">
          <img src="" alt="picture">
        </div>
      </div>
      <div nz-col nzSpan="18">
        <div nz-row nzSpan="24">
          <span class="nameProduct">{{item.orderDetailResponseList[0]?.productResponse?.nameProduct}}</span>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </Content>
</cCard>