<div *ngIf="listCardOrderDetail.orderDetailResponseList.length == 0">
  <div style="text-align: center">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</div>
<cCard *ngFor="let item of listCardOrderDetail.orderDetailResponseList">
  <Content>
    <div class="main-card" nz-row>
      <div nz-col nzSpan="6">
        <div class="image_product">
          <img nz-image nzSrc="http://{{item.productResponse.imageUrl}}__{{token}}" alt="Ảnh sản phẩm">
        </div>
      </div>
      <div nz-col nzSpan="18" style="padding-left: 2vw;">
        <div nz-row class="margin-bot">
          <span class="nameProduct">{{item.productResponse.nameProduct}}</span>
        </div>
        <div nz-row class="margin-bot">
          <div nz-col nzSpan="16">
            <span class="editPrice">{{item.editPrice | number}}</span>
          </div>
          <div nz-col nzSpan="8">
            <span class="quantity">x {{item.quantity}}</span>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <span class="unit">{{item.productResponse.unit}}</span>
          </div>
          <div nz-col nzSpan="16">
            <span class="totalPriceProduct">{{item.totalPriceProduct | number}}</span>
          </div>
        </div>
      </div>
    </div>
  </Content>
</cCard>