* {
    padding: 0;
    margin: 0;
}

.main-card {
    padding: 2vw;
    display: flex;
    align-items: center;
}

::ng-deep .ant-card-body {
    padding: 0 !important;
}

.image_product img {
    width: 100%;
    aspect-ratio: 1/1;
}

.nameProduct {
    display: flex;
    justify-content: end;
    font-size: 4.5vw;
}

.editPrice {
    font-size: 4.5vw;
    color: #1E5993;
}

.quantity {
    display: flex;
    justify-content: flex-end;
    font-size: 4vw;
    font-weight: bold;
    color: #1E5993;
}

.unit {
    font-size: 4.2vw;
    color: #afafaf;
}

.totalPriceProduct {
    display: flex;
    justify-content: flex-end;
    font-size: 4.5vw;
    font-weight: bold;
    color: red;
}

.margin-bot {
    margin-bottom: 2vw;
}

@media (min-width: 768px) {
    .main-card {
        padding: 2vw 4vw;
    }

    .margin-bot {
        margin-bottom: 1vw;
    }

    .image_product img {
        width: 80%;
    }

    .nameProduct {
        font-size: 3.5vw;
    }
    
    .editPrice {
        font-size: 3.5vw;
    }
    
    .quantity {
        font-size: 3.5vw;
    }
    
    .unit {
        font-size: 3.5vw;
    }
    
    .totalPriceProduct {
        font-size: 3.5vw;
    }
}