.font_size_3vw {
    font-size: 3vw
}

.font_size_4vw {
    font-size: 4vw
}

.font_size_5vw {
    font-size: 5vw
}

.red {
    color: #C7393C
}

.blue {
    color: #1E5993
}

.green {
    color: #0E6F64
}

.bold {
    font-weight: bold
}

.line-height-100 {
    line-height: 100%
}

.content_orderDetail {
    position: relative;
    width: 100%;
    height: 100%;
}

.header_direction {
    width: 100%;
    position: fixed;
    top: -0.5vw;
    display: flex;
    align-items: center;
    padding: 2vw 4vw;
    border-bottom: 1px #afafaf solid;
    z-index: 1;
    background-color: white;
}

.header_title {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    font-weight: 600;
    color: #0E6F64;
}

::ng-deep .ant-tabs-nav-wrap {
    position: fixed !important;
    width: 100%;
    background-color: white;
    z-index: 1;
}

::ng-deep .ant-tabs-nav {
    margin: 0 !important;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab .ant-tabs-tab-btn {
    font-size: 4.5vw;
    color: #adadad
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 500;
    transition: 0.1s;
    color: #0E6F64;
}

::ng-deep .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav::before {
    background-color: #0E6F64;
}

.block-tab {
    height: 11.5vw;
}

.block-top-card {
    height: 16.7vw;
}

.no-data {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 50%;
    font-size: 4vw;
}

.footer_orderDetail {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 3vw;
}

.customer {
    display: flex;
    padding: 0 3vw 3vw;
    align-items: center;
    border-bottom: 1px #d9d9d9 solid;
}

.nameCustomer {
    font-weight: 600;
}

.phoneCustomer {
    margin: 1vw 0;
}

.price {
    padding: 3vw;
}

.customer_avatar {
    border-radius: 100%;
}

.customer_avatar img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.customer_infor {
    padding-left: 4vw;
}

.ship_price {
    display: flex;
    justify-content: space-between;
    font-size: 4vw;
}

.total_price {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    font-weight: 600;
    font-size: 4.5vw;
}

@media (min-width: 768px)  {
    .font_size_3vw {
        font-size: 2.5vw
    }
    
    .font_size_4vw {
        font-size: 3vw
    }
    
    .font_size_5vw {
        font-size: 4vw
    }

    .header_title {
        font-size: 4.5vw;
        font-weight: 700;
    }

    .header_direction {
        top: -1vw;
    }

    .block-tab {
        height: 10vw;
    }

    .block-top-card {
        height: 10vw;
    }

    .no-data {
        margin-top: 50%;
        font-size: 4vw;
    }

    .footer_orderDetail {
        position: fixed;
        bottom: 0;
        padding: 3vw;
        background-color: white;
    }

    .customer {
        padding: 0 0 1vw 0;
    }
    
    .price {
        padding: 0;
    }

    ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-weight: 600;
        font-size: 3.5vw;
        transition: 0.1s;
    }

    ::ng-deep .ant-tabs-tab .ant-tabs-tab-btn {
        font-weight: 600;
        font-size: 3vw;
        transition: 0.1s;
    }

    .ship_price {
        margin-top: 2vw;
        font-size: 3.5vw;
    }
}