<div class="header__OrderDetail">
    <div class="header_direction" nz-row>
        <div nz-col nzSpan="3" class="header_backButton" (click)="handleBackOrder()">
            <span nz-icon nzType="left" nzTheme="outline" class="icon_back"></span>
        </div>
        <div nz-col nzSpan="18" class="header_title">ahihi</div>
    </div>
    <div class="header_tab">
        <nz-tabset nzCentered class="tabset" nzSize="large">
            <nz-tab nzTitle="Liên biến động"></nz-tab>
            <nz-tab nzTitle="Liên giao">
                <app-card-order-detail [listCardOrderDetail]="listOrderDetail"></app-card-order-detail>
            </nz-tab>
            <nz-tab nzTitle="Liên nhận"></nz-tab>
        </nz-tabset>
    </div>
</div>