::ng-deep .ant-modal-body {
    padding: 0px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    border-radius: 25;
}

::ng-deep .ant-modal-content{
    border-radius: 10px;
}