<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" 
[nzCentered]="isCentered === true ? true : false"
[nzFooter]="footer === true ? modalFooter : null"
[nzClosable]="buttonX"
[nzWidth]="width"
[nzAutofocus]="null"
>
    <ng-container *nzModalContent>
        <ng-content select="Content"></ng-content>
    </ng-container>
    <ng-template #modalFooter>
        <span>
            <ng-content select="Footer"></ng-content>
        </span>
    </ng-template>
</nz-modal>