@keyframes slideInRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

* , body {
    font-family: "Hiragino Sans W6" !important;
}

::ng-deep .cdk-global-scrollblock .header-menu{
    top: 0 !important;
}

::ng-deep .cdk-global-scrollblock{
    overflow-y: unset !important;
}