.main-card {
    display: flex;
}
::ng-deep.ant-card-body {
    padding: 6px !important;
}

.card-img {
    display: flex;
}   
.nameProduct-card {
    font-size: 4vw;
    font-weight: 700;
    color: #25403b;
}
.textProduct-card {
    font-size: 2.5vw;
    color: #3d7165; 
}
.floorPrice-card {
    font-size: 4vw;
    font-weight: 700;
    color: #B31312;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}

.btn-test{
    background-color: yellow;
    height: 50px;
    width: 50px;
}