.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-signIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.img {
  text-align: center;
  margin-top: 20vw;
}

.img-logo {
  width: 30%;
}

.title-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.border-input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
}

.border-input:hover{
  height: 40px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
}

.border-input:focus {
  height: 40px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
}

::ng-deep .ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus {
  height: 40px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
}

.title-bonbon {
  font-size: 6vw;
  font-weight: 500;
  color: #0E6F64;
  margin-top: 5%;
}

.form-item {
  margin-bottom: 5%;
}

.title-slogen {
  font-size: 3vw;
  font-weight: 300;
  color: #646464;
}

.note {
  text-align: left;
  font-size: 3vw;
  font-weight: 400;
  color: #646464;
  padding: 1vw 4%;
}

.login-form {
  padding: 5%;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  border-radius: 30px;
  background-color: #0E6F64;
  font-size: 25px;
  border: none;
  height: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vw;
}

@media only screen and (max-width: 400px) {
  .img {
    margin-top: 15vw;
  }

  .form {
    margin-left: 0%;
  }

  .title-bonbon {
    font-size: 6vw;
  }

  .title-slogen {
    font-size: 3vw;
  }

  .note {
    font-size: 4vw;
  }

  .input-login {
    height: 20px;
  }

  /* .login-form-button {
    height: 25%;
    font-size: 6vw;
    margin-top: 20px;
  } */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure it's on top of other elements */
}

.spinner {
  /* Add your loading spinner styles here */
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .img {
    margin-top: 10vw;
  }

  .note {
    font-size: 25px;
  }
}