.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-signIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.img {
  text-align: center;
  margin-top: 5vw;
}
.img-logo {
  width: 30%;
}
.title-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.input-login {
  height: 40px;
}
.title-bonbon {
  font-size: 60px;
  font-weight: 700;
  color: #3c7265;
  text-shadow: 0.5px 0.5px 1.5px #3c7265;
  margin-top: 5%;
}
.form-item {
  margin-bottom: 5%;
}
.title-slogen {
  font-size: 30px;
  font-weight: 500;
  color: #3c7265;
}
.note {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  color: #3c7265;
  padding: 0 4%;
}
.login-form {
  padding: 5%;
}

.login-form-margin {
  margin-bottom: 20px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  border-radius: 30px;
  background-color: #3c7265;
  font-size: 25px;
  border: none;
  height: 25%;
}
@media only screen and (max-width: 400px) {
  .form {
    margin-left: 0%;
  }
  .title-bonbon {
    font-size: 24px;
  }
  .title-slogen {
    font-size: 14px;
  }
  .note {
    font-size: 12px;
  }
    .input-login {
      height: 20px;
    }
    .login-form-button {
      height: 20%;
      font-size: 14px;
      margin-top: 20px;
    }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}

.spinner {
  /* Add your loading spinner styles here */
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}