<nz-spin [nzSpinning]="isLoading">
  <div class="main">
    <div class="main-signIn">
      <div class="img">
        <img
          width="20%"
          nz-image
          nzSrc="../../../assets/images/logoBonbonSizeLon.jpg"
          alt="logo"
          class="img-logo"
          nzDisablePreview="true"
        />
      </div>
      <div class="title-logo">
        <span class="title-bonbon">BONBON</span>
        <span class="title-slogen">Trao niềm tin, nhận giá trị</span>
      </div>
      <div class="form">
        <form
          nz-form
          [formGroup]="validateForm"
          class="login-form"
          (ngSubmit)="submitForm()"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Tài khoản hoặc mật khẩu không đúng!">
              <nz-input-group nzPrefixIcon="user" >
                <input
                nz-input
                type="text"
                formControlName="userName"
                placeholder="Username"
                class="input-login"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" nzErrorTip="Please input your Password!">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="password"
                  nz-input
                  placeholder="Password"
                  class="input-login"
                />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <span
                  nz-icon
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"
                ></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Đăng Nhập
          </button>
        </form>
      </div>
      <span class="note">
        Lưu ý: Ứng dụng này chỉ dành cho các CBNV nghành y dược và mang tính
        tham khảo, bạn cần cân nhắc, tự hoàn thiện thủ tục pháp lý trước khi
        đăng nhập. Xin cảm ơn!
      </span>
    </div>
  </div>
</nz-spin>

<router-outlet></router-outlet>
