*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.img__modal-price{
    height: 150px;
    object-fit: cover;
}

.content-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}