* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
}

.text--grey {
  color: #5F5F5F;
}

.mg-t-3vw {
  margin-top: 3vw;
}

.text--red {
  color: #c7393c;
}

.text--bold {
  font-weight: bold;
}

.text--size-3 {
  font-size: 4vw;
}

.text--size-4 {
  font-size: 5vw;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.jct-bw {
  justify-content: space-between;
}

.width-100 {
  width: 100%;
}

.btn-control{
    padding: 1.5vw 3.5vw;
    color: white;
    border: none;
    border-radius: 8vw;
    font-size: 3.3vw;
}

.btn-cancel {
  margin-right: 8px;
}

.bg-cl-red{
    background-color: #C7393C;
}

.bg-cl-red:hover{
    background-color: #C7393C;
    opacity: 0.6;
    cursor: pointer;
}

.bg-cl-green{
    background-color: #0E6F64;
}

.bg-cl-green:hover{
    background-color: #0E6F64;
    opacity: 0.8;
    cursor: pointer;
}

.text-ct{
    text-align: center;
}

.input-control {
  border-radius: 1vw !important;
  width: 84%;
  padding: 0.5vw;
}

::ng-deep .ant-form-item-explain-error {
  font-size: 2vw;
}

.content-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1;
}

.nameProduct {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nameProduct p {
    font-size: 4vw;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}