<cModal [isVisible]="isVisible" (closeModal)="handleSetIsVisisble()" [buttonX]="false" [width]="'100%'" [footer]="false">
    <Content>
        <div style="padding: 12px;" nz-row =>
            <div nz-col nzSpan="12" class="content-img">
                <img nz-image nzSrc="http://{{productItem.imageUrl}}__{{token}}" class="img__modal-price" nzDisablePreview="true" width="100%">
            </div>
            <div nz-col nzSpan="12" class="content-modal">
                <p class="text--bold text--size-4">{{productItem.nameProduct}}</p>
                <span class="text--grey text--size-3">Giá sàn:</span>
                <span class="text--red text--bold text--size-3">{{productItem.floorPrice | number}}</span>
                <span class="text--grey text--size-3">Giá sàn mới:</span>
                <form nz-form [formGroup]="validateForm" class="width-100">
                    <nz-form-item>
                        <nz-form-control style="text-align: center;" nzErrorTip="Làm ơn hãy nhập giá sàn!">
                          <nz-input-group class="d-flex jct-ct">
                                    <input nz-input nz type="text" class="text-ct input-control text--size-3" 
                                    formControlName="priceFloor" placeholder="Nhập giá sàn mới" 
                                    (input)="formatPrice($event)"/> 
                            </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>  
                </form>
                <div class="d-flex jct-ct width-100 text--size-3 mg-t-3vw">
                    <button class="btn-control btn-cancel bg-cl-red text--size-3" (click)="handleSetIsVisisble()">Hủy</button>
                    <button class="btn-control bg-cl-green text--size-3" (click)="handleUpdatePrice()">Cập nhật</button>
                </div>              
            </div>
        </div>
    </Content>
</cModal>