* {
  font-family: Arial, Helvetica, sans-serif !important;
  width: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.btn-Add {
  width: 15vw;
  height: 15vw;
  position: sticky;
  bottom: 15vw;
  left: 80vw;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #0F6F64;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.icon {
  font-size: 8vw;
  color: #fff;
}

.btn-addProduct:focus {
  background-color: aqua;
}

.btn-addProduct:hover {
  background-color: blue;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.keyboard {
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .btn-Add {
    width: 13vw;
    height: 13vw;
    position: sticky;
    bottom: 10vw;
    right: 5vw;
  }
}