<div class="main">
  <app-card-import-warehouse
    [listCard]="listProduct"
    (onClickCard)="handleOpenModalupdateProductQuantity()"
  ></app-card-import-warehouse>
  <app-modal-update-quantity
    [isVisible]="isVisibleModalupdateProductQuantity"
    (closeModal)="handleCloseModalupdateProductQuantity()"
  ></app-modal-update-quantity>
  <button nz-button class="btn-Add" nzShape="circle" (click)="handlenavigate()" ><span nz-icon nzType="plus" class="icon"></span></button>
</div>
<button class="btn-addProduct" (click)="handlenavigate()">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
</button>