<cModal [isVisible]="isVisible" (closeModal)="handleCloseModal()" width="85vw" >
    <Content>
        <div class="delete_text" >
            Xóa 
            <span class="color_nameProduct">"{{cartItem.productResponse.nameProduct}} "</span>?
        </div>
    </Content>
    <Footer>
        <div class="btn_footer">
            <button class="delete_submit" (click)="handleDeleteCartItem(cartItem)" >Xóa</button>
            <button class="delete_cancel" (click)="handleCloseModal()">Hủy</button>
        </div>
    </Footer>
</cModal>
