<cModal [width]="'90%'" [isVisible]="isVisibleModalAddCustomer" (closeModal)="handleCloseModalCustomer()" [footer]="false">
    <Content>
        <div class="pd-4 modal-custom"
            [style]="listCustomer.length > 0 ? heightModalData : heightModalNoData">
            <div class="form-control">
                <div class="d-flex jct-bw al-item-ct container-input">
                    <span (click)="handleSearch(textSearch)" nz-icon nzType="search" nzTheme="outline"
                        class="font-size-3vw" style="padding-right: 8px;"></span>
                    <input (ngModelChange)="handleSearch($event)" (keyup.enter)="handleSearch(textSearch)" type="text" placeholder="Tìm kiếm ..."
                        class="input-search" nz-input style="border: none;" [(ngModel)]="textSearch">
                    <span nz-icon nzType="close" nzTheme="outline" class="font-size-3vw  icon-search"
                        style="cursor: pointer;" (click)="handleCloseModalCustomer()"></span>
                </div>
            </div>
            <div style="padding-top: 7vw;">
                <div class="d-flex" style="padding: 1.5vw 0 1.5vw 0; border-bottom: 1px solid #ccc;"
                    *ngFor="let item of listCustomer" (click)="handleUpdateCartCustomer(item.id)">
                    <div nz-col [nzSpan]="6" class="d-flex jct-ct">
                        <img nz-image nzSrc="../../../assets/images/gai.jpg" class="img-customer"
                            nzDisablePreview="true" width="100%">
                    </div>
                    <div style="padding-left: 8px;" class="d-flex jct-bw flex-direction">
                        <span nz-row class="text_customer-name">{{item.nameCustomer}}</span>
                        <span nz-row class="text_customer-phone">{{item.phoneCustomer}}</span>
                        <span nz-row class="text_customer-addres">{{item.address}}</span>
                    </div>
                </div>
            </div>
            <div class="btn-container" [style]="listCustomer.length > 0 ? displayNone:displayBlock">
                <div class="btn-cover">
                    <button class="btn-add-customer" (click)="handleOpenAddCustomer()">
                        <span nz-icon nzType="user-add" nzTheme="outline"></span>
                        Thêm khách hàng</button>
                </div>
            </div>
        </div>
    </Content>
</cModal>

<app-modal-add-customer [isVisible]="isVisibleAddCustomer" (closeModal)="handleCloseModalAddCustomer()">
</app-modal-add-customer>