* {
  font-family: Arial, Helvetica, sans-serif !important;
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  font-size: 6.5vw;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  color: #fff;
  margin-right: 1vw;
  border-radius: 4px;
  font-weight: 700;
  align-items: center;
}

.header-trigger:hover {
  color: #3c7265;
  background-color: white;
}

.menu-btn {
  align-self: center;
}

nz-header {
  padding: 0;
  width: 100%;
  height: 67px;
  position: fixed;
  z-index: 2;
  background-color: #0E6F64;
}

.col-menu {
  align-items: center;
}

.searchInput {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.input {
  height: max-content;
}

.input-group {
  border-radius: 25px !important;
  background-color: #153E39;
  border: none;
  padding: 1.3vw 4vw;
}

.icon-search {
  color: #fff !important;
  font-size: 4.5vw;
}

.input-search {
  background-color: #153E39;
  color: #fff;
}

::ng-deep .ant-drawer-body {
  padding: 0px;
}

::ng-deep.ant-menu-sub.ant-menu-inline {
  background-color: #fff;
}

nz-content {
  margin-top: 67px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease;
}

a:hover {
  background-color: rgb(224, 244, 242) !important;
}

a.router-link-active {
  font-weight: bold;
  background-color: rgb(224, 244, 242);
  color: #0E6F64;
}

nz-drawer {
  padding: 0px !important;
}

.header-sideBar {
  display: flex;
}

.information-User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.information-Avatar {
  margin: 4vw 2vw 4vw 4vw;
  width: 64px;
}

.avatar-img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
}

.name-User {
  color: #0E6F64;
  font-size: 4vw;
  font-weight: bold;
}

.role-Phone {
  font-size: 3.5vw;
  color: #0E6F64;
}

.font-icon {
  font-size: 5vw;
}

.ul-sideBar {
  border: none !important;
  padding: 0px !important;
  /* color: #0E6F64 !important; */
  color: gray !important;
}

.ul-sideBar li {
  font-size: 16px !important;
  font-weight: 700;
}

.title-menuItem {
  font-size: 10px !important;
  font-weight: bold !important;
  color: gray !important;
  /* color: #0E6F64 !important; */
}

.title-menuItem.router-link-active {
  background-color: rgb(224, 244, 242);
  font-size: 10px !important;
  font-weight: bold !important;
}

.ant-menu-inline .ant-menu-item:not(:last-child), .ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child) {
  margin-bottom: 4vw;
}

::ng-deep .ant-menu-light .ant-menu-submenu-title:hover {
  /* color: #0E6F64 !important; */
  color: gray !important;
}

::ng-deep .ant-menu-submenu > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: gray !important;
}

::ng-deep .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: #0E6F64 !important;
}

.li-sideBar {
  background-color: #fff !important;
}

.ant-menu-sub.ant-menu-inline {
  background-color: #fff !important;
}

.ant-menu-submenu-title:hover {
  background-color: rgb(224, 244, 242);
}

.logout {
  color: #C7393C;
}

::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #ffffff !important;
  background-color: white !important;

}

::ng-deep .ant-menu-item:active {
  opacity: 0.4;
}

::ng-deep .ant-menu-inline .ant-menu-item::after, .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after{
  border-right: none;
}

@media (min-width: 768px) {
  nz-content {
    margin-top: 11vw;
  }

  ::ng-deep .ant-input-affix-wrapper {
    margin-top: 0 !important;
  }

  .header-menu {
    padding: 2vw;
    align-items: center;
    height: fit-content;
    line-height: normal;
  }

  .input-group {
    border-radius: 30px !important;
    padding: 1vw 4vw;
    height: fit-content;
  }

  .input-search {
    font-size: 3vw;
    height: fit-content;
  }

  .icon-search {
    font-size: 4vw;
  }

  .name-User {
    font-size: 5vw;
  }
  
  .role-Phone {
    font-size: 4vw;
  }

  .icon-menu {
    font-size: 5vw;
  }

  .information-Avatar {
    margin: 2vw;
    width: 15vw;
  }

  .avatar-img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
  }

  .name-User {
    font-size: 4vw;
    font-weight: bold;
  }
  
  .role-Phone {
    font-size: 2.5vw;
  }

  ::ng-deep .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
    font-size: 3vw;
  }

  ::ng-deep .ant-menu-inline.ant-menu-root .ant-menu-item > *, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > * {
    font-size: 3vw;
  }

  ::ng-deep .ant-menu-item .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-submenu-title .anticon {
    font-size: 3vw;
  }

  ::ng-deep .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > * {
    font-size: 3vw;
  }

  .title-menuItem {
    padding: 4vw 0;
  }

  .li-sideBar {
    padding: 2vw 0;
  }
}