<nz-layout class="app-layout">
  <nz-header class="header-menu">
    <div class="searchInput">
      <div nz-row class="col-menu">
        <div nz-col nzSpan="3" class="menu-btn">
          <a class="header-trigger" (click)="sideDrawerVisible = !sideDrawerVisible">
            <span nz-icon [nzType]="'menu'" class="icon-menu"></span>
          </a>
        </div>
        <div nz-col nzSpan="21" class="input">
          <nz-input-group [nzSuffix]="suffixIconSearch" class="input-group">
            <input
              nz-input
              type="text"
              placeholder="Tìm kiếm"
              class="input-search"
              [(ngModel)]="textSearch"
              (ngModelChange)="handleSearch($event)"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search" class="icon-search"></span>
          </ng-template>
        </div>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <nz-drawer
      class="nz-drawer"
      [nzClosable]="false"
      [nzVisible]="sideDrawerVisible"
      nzPlacement="left"
      [nzWidth]="'60%'"
      (nzOnClose)="handleSideDrawerClose()"
    >
      <ng-container *nzDrawerContent>
        <div class="header-sideBar">
          <div class="information-Avatar">
            <img class="avatar-img" src="https://genk.mediacdn.vn/thumb_w/640/2019/7/8/1-15625474669018688730.jpg" alt="">
          </div>
          <div class="information-User">
            <span class="name-User">{{ user.fullname }}</span>
            <div>
              <span class="role-Phone" *ngIf="user.role === 'ROLE_ADMIN'">Admin</span>
              <span class="role-Phone" *ngIf="user.role === 'ROLE_SALE'">Sale</span>
              <span class="role-Phone"> - {{ user.phone }}</span>
            </div>
          </div>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" class="ul-sideBar">
          <li *ngIf="user.role !== 'ROLE_WAREHOUSE'" nz-submenu nzTitle="Hàng xuất" nzIcon="export" class="li-sideBar">
            <ul>
              <li
                nz-menu-item
                [routerLink]="routerNames.productSalePage"
                routerLinkActive="router-link-active"
                class="title-menuItem"
                (click)="handleSideDrawerClose()"
              >
                - Sản phẩm xuất
              </li>
              <li
                nz-menu-item
                [routerLink]="routerNames.orderPage"
                routerLinkActive="router-link-active"
                class="title-menuItem"
                (click)="handleSideDrawerClose()"
              >
                - Danh sách yêu cầu
              </li>
            </ul>
          </li>
          <li *ngIf="user.role !== 'ROLE_SALE'"nz-submenu nzTitle="Quản lý kho" nzIcon="shop" class="li-sideBar">
            <ul>
              <li
                nz-menu-item
                [routerLink]="routerNames.warehousePage"
                routerLinkActive="router-link-active"
                class="title-menuItem"
                (click)="handleSideDrawerClose()"
              >
                - Danh sách kho
              </li>
              <li
                nz-menu-item
                [routerLink]="routerNames.importWarehousePage"
                routerLinkActive="router-link-active"
                class="title-menuItem"
                (click)="handleSideDrawerClose()"
              >
                - Nhập kho
              </li>
            </ul>
          </li>
          <li 
          nz-menu-item
          [routerLink]="routerNames.accountManagersPage"
          routerLinkActive="router-link-active"
          class="title-menuItem"
          (click)="handleSideDrawerClose()"
          >
            <span nz-icon nzType="bell" nzTheme="fill"></span>
            <span>Quản lý tài khoản</span>
          </li>
          <li nz-menu-item class="title-menuItem">
            <span nz-icon nzType="bell" nzTheme="fill"></span>
            <span>Thông báo</span>
          </li>
          <li nz-menu-item class="title-menuItem" nzTitle="Cài đặt" nzIcon="setting">
            <span nz-icon nzType="setting" nzTheme="fill"></span>
            <span>Cài đặt</span>
          </li>
          <li nz-menu-item class="title-menuItem">
            <span nz-icon nzType="info-circle"></span>
            <span>Điều khoản sử dụng</span>
          </li>
          <li nz-menu-item class="title-menuItem">
            <span nz-icon nzType="info-circle"></span>
            <span>Thông tin chuyên ngành</span>
          </li>
          <li nz-menu-item class="title-menuItem">
            <span nz-icon nzType="info-circle"></span>
            <span>Câu hỏi thường gặp</span>
          </li>
          <li nz-menu-item class="title-menuItem" (click)="handleLogOut()">
            <span nz-icon nzType="logout" class="logout"></span>
            <span class="logout">Đăng xuất</span>
          </li>
        </ul>
      </ng-container>
    </nz-drawer>
    <nz-layout>
      <nz-content class="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
