<nz-layout class="app-layout">
  <nz-header class="header-menu">
    <div class="searchInput">
      <div nz-row class="col-menu">
        <div nz-col nzSpan="3" >
          <a
            class="header-trigger"
            (click)="sideDrawerVisible = !sideDrawerVisible"
          >
            <span nz-icon [nzType]="'menu'" class="icon-menu"></span>
          </a>
        </div>
        <div nz-col nzSpan="21">
          <nz-input-group [nzSuffix]="suffixIconSearch" class="input-search">
            <input
              type="text"
              nz-input
              placeholder="Tìm kiếm"
              class="inputSearch-header"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search" class="icon-search"></span>
          </ng-template>
        </div>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="sideDrawerVisible"
      nzPlacement="left"
      [nzWidth]="'60%'"
      (nzOnClose)="sideDrawerClose()"
    >
      <ng-container *nzDrawerContent>
        <div class="header-sideBar">
          <div class="information-Avatar">
            <nz-avatar
              [nzSize]="64"
              nzSrc="https://genk.mediacdn.vn/thumb_w/640/2019/7/8/1-15625474669018688730.jpg"
            ></nz-avatar>
          </div>  
          <div class="information-User">
            <span class="name-User"
              ><strong>{{ nameUser }}</strong></span
            >
            <span class="role-Phone">{{ role }}-{{ phone }}</span>
          </div>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" class="ul-sideBar" >
          <li nz-submenu nzTitle="Hàng xuất" nzIcon="export" class="li-sideBar">
            <ul>
              <li
                nz-menu-item
                [routerLink]="['exportProduct']"
                routerLinkActive="router-link-active"
                class="title-menuItem"
              >
                - Sản phẩm xuất
              </li>
              <li
                nz-menu-item
                [routerLink]="['requestList']"
                routerLinkActive="router-link-active"
                class="title-menuItem"
              >
                - Danh sách yêu cầu
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý kho" nzIcon="shop">
            <ul>
              <li
                nz-menu-item
                [routerLink]="['waterhouseList']"
                routerLinkActive="router-link-active"
                class="title-menuItem"
              >
                - Danh sách kho
              </li>
              <li
                nz-menu-item
                [routerLink]="['importWarehouse']"
                routerLinkActive="router-link-active"
                class="title-menuItem"
              >
                - Nhập kho
              </li>
            </ul>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="bell" nzTheme="fill"></span>
            <span>Thông báo</span>
          </li>
          <li nz-menu-item nzTitle="Cài đặt" nzIcon="setting">
            <span nz-icon nzType="setting" nzTheme="fill"></span>
            <span>Cài đặt</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="info-circle"></span>
            <span>Điều khoản sử dụng</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="info-circle"></span>
            <span>Thông tin chuyên ngành</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="info-circle"></span>
            <span>Câu hỏi thường gặp</span>
          </li>
          <li nz-menu-item >
            <span nz-icon nzType="logout" class="logout"></span>
            <span class="logout">Đăng xuất</span>
          </li>
          
        </ul>
        <a [routerLink]="['/welcome']" routerLinkActive="router-link-active"
          >Welcome</a
        >
        <a
          [routerLink]="['/exportProduct']"
          routerLinkActive="router-link-active"
          >Monitor</a
        >
      </ng-container>
    </nz-drawer>
    <nz-layout>
      <nz-content class="content">
          <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

