* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.jct-bw {
    justify-content: space-between;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-20px {
    font-size: 20px;
}

.mg-t-8 {
    margin-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    padding-bottom: 2vw;
}

.title_add_customer {
    font-size: 4.5vw;
    font-weight: 600;
}

.close_btn {
    padding-top: 1vw;
    border: none;
    color: #0E6F64;
    box-shadow: none;
}

.nz_control {
    margin-bottom: 5vw;
}

.input-control {
    padding: 4px;
    border-radius: 4px;
    width: 100%;
}

.container-input {
    flex-direction: column;
    height: 100%;
    margin-top: 12px;
}

.btn-container {
    margin-top: 30px;
    text-align: center;
}

.btn-add-customer {
    width: 55vw;
    padding: 7px 6vw;
    background-color: #0E6F64;
    color: white;
    font-size: 3.5vw;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-add-customer>span {
    font-size: 4vw;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-90{
    width: 90%;
}

.input-edit{
    margin-top: 1vw;
    border-radius: 5px;
    padding: 1.5vw;
    font-size: 3.5vw;
    margin-bottom: 2vw;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.input-edit:hover {
    border-color: #eeeeee;
}

.input-edit:focus {
    border-color: #eeeeee;
    box-shadow: 0 0 0 0.2vw rgba(16, 28, 40, 0.8);
}

.input-label{
    font-size: 4vw;
}

.container{
    padding: 0 4vw 6vw 4vw;
}