<cModal [isVisible]="isVisible" [width]="'90vw'" (closeModal)="handleCloseAddCustomer()" [footer]="false" >
    <Content>
        <div class="header">
            <span class="title_add_customer">Thêm mới khách hàng</span>
            <button class="close_btn" nz-button (click)="handleCloseAddCustomer()">
                <span class="close_icon" nz-icon nzType="close" nzTheme="outline"></span>
            </button>
        </div>
        <div class="container">
            <div nz-col nzSpan="24" class="center">
                <form class="input-control" nz-col nz-form [formGroup]="validateFormAddCustomer">
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="phoneCustomerValidator">
                            <nz-input-group>
                                <label class="input-label">Số điện thoại</label>
                                <input class="input-edit" placeholder="Số điện thoại..." nz-input formControlName="phoneCustomer" />
                            </nz-input-group>
                            <ng-template #phoneCustomerValidator let-control>
                                @if (control.errors?.['required']) {
                                Vui lòng nhập SĐT!
                                }
                                @if (control.errors?.['confirm']) {
                                SĐT không được vượt quá 11 số!
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="nameCustomerValidator">
                            <nz-input-group>
                                <label class="input-label">Họ và tên</label>
                                <input class="input-edit"placeholder="Họ và tên..." nz-input formControlName="nameCustomer" />
                            </nz-input-group>
                            <ng-template #nameCustomerValidator let-control>
                                @if (control.errors?.['required']) {
                                Vui lòng nhập tên khách hàng!
                                }
                                @if (control.errors?.['confirm']) {
                                Tên khách hàng không được vượt quá 255 ký tự!
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="addressValidator">
                            <nz-input-group>
                                <label class="input-label">Địa chỉ</label>
                                <input class="input-edit" placeholder="Địa chỉ..." nz-input formControlName="address" />
                            </nz-input-group>
                            <ng-template #addressValidator let-control>
                                @if (control.errors?.['required']) {
                                Vui lòng nhập địa chỉ!
                                }
                                @if (control.errors?.['confirm']) {
                                Địa chỉ không được vượt quá 255 ký tự!
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
            <div class="center">
                <button class="btn-add-customer" (click)="handleAddCustomer()"><span nz-icon nzType="user-add" nzTheme="outline"></span>Lưu khách hàng mới</button>
            </div>
        </div>
    </Content>
</cModal>