* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.jct-bw {
    justify-content: space-between;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-20px {
    font-size: 20px;
}

.mg-t-8 {
    margin-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

.title_add_customer {
    font-size: 5vw;
    font-weight: bold;
}

.close_btn {
    border: none;
    color: #3d7165;
    box-shadow: none;
}

.input-control {
    padding: 4px;
    border-radius: 4px;
    width: 100%;
}

.container-input {
    flex-direction: column;
    height: 100%;
    margin-top: 12px;
}

.btn-container {
    margin-top: 30px;
    text-align: center;
}

.btn-add-customer {
    width: 60vw;
    padding: 8px;
    background-color: #3d7165;
    color: white;
    font-size: 4.5vw;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-90{
    width: 90%;
}

.input-edit{
    border-radius: 5px;
    padding: 2vw;
    font-size: 4vw;
    margin-bottom: 2vw;
}

.input-label{
    font-size: 5vw;
}

.container{
    padding: 0 4vw 6vw 4vw;
}