.success .codeOder-card {
  color: #158c37
}

.fail .codeOder-card {
  color: #b31312
}

.pending .codeOder-card {
  color: #1E5993
}

.success .card-status {
  background-color: #158c37
}

.fail .card-status {
  background-color: #b31312
}

.pending .card-status {
  background-color: #1E5993
}

.flex-column-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding-top-bot-1vw {
  padding: 1vw 0;
}

.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card {
  display: flex;
  padding-right: 3vw;
}

::ng-deep.ant-card-body {
  padding: 0px !important;
}

.card-status {
  width: 3vw;
  height: 100%;
}

.codeOder-card {
  font-size: 5vw;
  font-weight: 700;
  color: #3d7165;
}

.nameCustomer-card {
  font-size: 4.4vw;
  font-weight: 700;
}

.textOder-card {
  font-size: 3.8vw;
  color: #afafaf;
}

.IconOder-card {
  color: #afafaf;
  font-size: 4vw;
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.totalPrice-card {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 1.5vw;
}

.totalDetail-card {
  font-size: 4.4vw;
  font-weight: 700;
  margin-bottom: 1.5vw;
}

.status-card {
  font-size: 3.8vw;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .codeOder-card {
    font-size: 3.5vw;
  }
  
  .nameCustomer-card {
    font-size: 3.2vw;
  }
  
  .textOder-card {
    font-size: 2.8vw;
  }
  
  .IconOder-card {
    font-size: 3vw;
  }
  
  .totalPrice-card {
    font-size: 3.5vw;
  }
  
  .totalDetail-card {
    font-size: 3.2vw;
  }
  
  .status-card {
    font-size: 2.8vw;
  }
}