.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.text-nameProduct {
  font-size: 4.5vw;
  font-weight: 700;
}
.text-lable {
  font-size: 3.5vw;
  margin-top: 5%;
}
.mf1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.mf-left {
  width: 38vw;
  display: flex;
  flex-direction: column;
  font-size: 3.5vw;
}
.mf-right {
  width: 38vw;
  display: flex;
  flex-direction: column;
  font-size: 3.5vw;
}
.mf2 {
  display: flex;
  justify-content: space-between;
}
.mf3 { 
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.mfc-1 {
  text-align: center;
  margin-top: 7%;
}
.mfc-text {
  font-size: 3.5vw;
}
.mfc-textStrong {
  font-size: 3.5vw;
  font-weight: 700;
}
.mfc-textStrongRed {
  font-size: 3.5vw;
  font-weight: 700;
  color: red;
}
.mbtn-submit {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.btn-submit {
  width: 55%;
  height: 10vw;
  font-size: 3.5vw;
  background-color: #0f6f64;
  color: #fff;
  border-radius: 50px;
}
.btn-submit:disabled {
  width: 55%;
  height: 10vw;
  font-size: 3.5vw;
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
}
.input-number {
  padding: 0.5vw 1vw;
  font-size: 3.5vw;
  border-radius: 5%;
  width: 100%;
}
::ng-deep .ant-form-item-explain-error {
  font-size: 3vw;
}