::ng-deep.ant-card-body {
    padding: 6px !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.disabled-card {
    opacity: 0.5;
    pointer-events: none;
}

.card_img {
    padding: 1vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.2vw gray solid;

}

.card_img>img {
    aspect-ratio: 1/1;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
}

.card_content {
    padding: 0 1.5vw;
}

.content_info {
    display: flex;
    padding: 1vw;
    font-size: 3.5vw;
}

.content_info>label {
    font-weight: bold;
    margin-right: 1vw;
}

