<div *ngIf="listCard.length == 0" class="no-data">
  <img
    width="80%"
    nz-image
    nzSrc="../../../../assets/images/no-data.png"
    alt="No-Data"
    nzDisablePreview="true"
  />
</div>
<cCard *ngFor="let item of listCard[0]?.cartItemResponseSet">
  <Content>
    <div class="main_card" nz-row>
      <div nz-col nzSpan="8" nzMd="6" class="card_img">
        <img
          nz-image
          width="80%"
          nzSrc="http://{{item.productResponse?.imageUrl}}"
          nzDisablePreview="true"
        />
      </div>
      <div nz-col nzSpan="16" nzMd="18" class="card_content">
        <div class="content_title">
          <p class="content_nameProduct">{{ item?.productResponse?.nameProduct }}</p>
          <p class="content_delete"><span nz-icon nzType="close" nzTheme="outline" (click)="handleOpenDeleteSingle(item)"></span></p>
        </div>
          <div nz-row >
          <div class="content_main" nz-col nzSpan="20">
            <div nz-row >
              <div nz-col nzSpan="9">
                <p class="editPrice">{{ item?.editPrice | number }}</p>
                <p class="unit">{{ item?.productResponse?.unit }}</p>
              </div>
              <div nz-col nzSpan="5" class="multiply" >
              <span nz-icon nzType="close" nzTheme="outline"></span>
              </div>
              <div nz-col nzSpan="9" >
                <input nz-input type="number"class="quantity" [disabled]="item.disable === false ? false : true" [ngModel] = "item?.quantity" (blur)="handleQuantityBlur(item, $event)" (input)="onInputQuantity(item, $event)" />
              </div>
            </div>
            <div nz-row class="card_bolow" >
              <div nz-col nzSpan="5" [class]="item.disable === true || item.rate == 0? 'isPlus_disable':'isPlus'">
                <span nz-icon nzType="plus" nzTheme="outline" *ngIf="item.plus == true" (click)="!item.disable && handlePlus(item)" ></span>
                <span nz-icon nzType="minus" nzTheme="outline" *ngIf="item.plus == false" style="color: red;" (click)="!item.disable && handlePlus(item)"></span>
              </div>
              <div nz-col nzSpan="9">
                <input nz-input type="number" class="rate" [disabled]="item.disable === false ? false : true" [ngModel] = "item?.rate" (blur)="handleRateBlur(item, $event)" (input)="onInputRate(item, $event)" />
              </div>
              <div nz-col nzSpan="10" class="finalPrice">
                <p class="finalPrice_text">{{(item.plus ? (item.editPrice + item.rate) * item.quantity : (item.editPrice - item.rate) * item.quantity) | number}}</p>
              </div>
            </div>
          </div>
          <div class="content_editQuantity" nz-col nzSpan="4" >
            <div>
              <span [class]="item.disable === true ? 'editQuantity_up_disable' : 'editQuantity_up'" nz-icon nzType="caret-up" nzTheme="outline" (click)="!item.disable && handlePlusQuantity(item)"></span>
            </div>
            <div>
              <span [class]="item.disable === true || item.quantity == 1? 'editQuantity_down_disable':'editQuantity_down'" nz-icon nzType="caret-down" nzTheme="outline" (click)="!item.disable && handleMinusQuantity(item)"></span>
            </div>
          </div>
        </div>
        <div>
          <span *ngIf="item.showErrorQuantityNoEnter" class="showErrorQuantityNoEnter">Vui lòng nhập số lượng.</span>
          <span *ngIf="item.showErrorQuantityExceed" class="showErrorQuantityExceed">Số lương vượt quá cho phép.</span>
          <span *ngIf="item.showRateError" class="showRateError">Vui lòng nhập giá chênh lệch.</span>
          <span *ngIf="item.showRateExceed" class="showRateExceed">Giá vượt quá cho phép.</span>
        </div>
      </div>   
      
    </div>
  </Content>
</cCard>
