::ng-deep.ant-card-body {
    padding: 6px !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.no-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_img {
    padding: 1vw 0;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card_content {
    padding: 0 1.5vw;
}

.content_title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vw;
    align-items: center;
}

.content_nameProduct {
    font-size: 4.5vw;
    font-weight: 400;
    color:#333333;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.content_delete {
    font-size: 3vw;
    font-weight: 500;
    padding: 1vw 2vw;
    color: #afafaf;
}

.content_quantity {
    border: 1px #c7393c solid;
    height: 40%;
}

.content_main {
    display: flex;
    flex-direction: column;
}

.editPrice {
    font-size: 4vw;
    color: #1E5993;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.unit {
    font-size: 3.5vw;
    color: #afafaf;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.multiply {
    padding-top: 0.5vw;
    font-weight: 500;
    font-size: 3.5vw;
    color: #1E5993;
    font-weight: 600;

}

.quantity {
    font-size: 4vw;
    padding: 0.5vw 1vw;
}

.showErrorQuantityNoEnter {
    color: red;
    font-size: 3xvw;
    position: absolute;
}

.showErrorQuantityExceed {
    color: red;
    font-size: 3vw;
    position: absolute;
}

.isPlus>span {
    padding: 1.5vw 2.5vw;
    border: 1px #afafaf solid;
    border-radius: 1vw;
    color: #0E6F64;
    font-size: 3.5vw;
}

.isPlus_disable>span {
    padding: 1.5vw 2.5vw;
    border: 1px #afafaf solid;
    border-radius: 1vw;
    color: #0E6F64;
    font-size: 3.5vw;
    opacity: 0.5;
}

.rate {
    font-size: 3.5vw;
    padding: 0.5vw 1vw;
}

.showRateError {
    color: red;
    font-size: 3vw;
    position: absolute;
}

.showRateExceed {
    color: red;
    font-size: 3vw;
    position: absolute;
}

.finalPrice {
    text-align: center;
    align-self: center;
    font-size: 4vw;
    color: #c7393c;
}

.finalPrice_text {
    padding: 0 2vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content_editQuantity {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.editQuantity_up {
    border: 1px #e0dfdf solid;
    padding: 1.5vw 2.5vw;
    font-size: 3.5vw;
    border-radius: 1vw;
    margin-bottom: 4.9vw;
    color: #1E5993;
}

.editQuantity_up_disable {
    border: 1px #e0dfdf solid;
    padding: 1.5vw 2.5vw;
    font-size: 3.5vw;
    border-radius: 1vw;
    margin-bottom: 4.8vw;
    opacity: 0.5;
    color: #1E5993;
}

.editQuantity_down {
    border: 1px #e0dfdf solid;
    padding: 1.5vw 2.5vw;
    font-size: 3.5vw;
    border-radius: 1vw;
    color: #1E5993;
}

.editQuantity_down_disable {
    border: 1px #e0dfdf solid;
    padding: 1.5vw 2.5vw;
    font-size: 3.5vw;
    border-radius: 1vw;
    opacity: 0.5;
    color: #1E5993;
}



@media (min-width: 768px) {

    .main_card {
        padding: 0;
    }

    .content_title {
        padding-bottom: 0vw;
    }

    .content_nameProduct {
        font-size: 3.5vw;
    }

    .editPrice {
        font-size: 3vw;
    }

    .unit {
        font-size: 3vw;
    }

    .multiply {
        padding-top: 0.5vw;
        font-size: 3vw;
    }

    .card_bolow {
        margin-top: 1.5vw;
    }

    .isPlus {
        align-self: center;
    }

    .isPlus>span {
        padding: 1.5vw 1.5vw;
        border: 1px #afafaf solid;
        font-size: 3vw;
    }

    .rate {
        font-size: 3vw;
        padding: 0.642vw 1vw;
    }

    .finalPrice {
        font-size: 3vw;
    }

    .quantity {
        height: 65%;
        font-size: 3vw;
    }

    .editQuantity_up {
        padding: 1.5vw 2vw;
        font-size: 3vw;
        margin-bottom: 4.8vw;
    }

    .editQuantity_up_disable {
        padding: 1.5vw 2vw;
        font-size: 3vw;
        opacity: 0.5;
        margin-bottom: 4.8vw;
    }

    .editQuantity_down {
        padding: 1.5vw 2vw;
        font-size: 3vw;
    }

    .editQuantity_down_disable {
        padding: 1.5vw 2vw;
        font-size: 3vw;
        opacity: 0.5;
    }

}