<div *ngIf="listCard.length == 0">ko co du</div>
<cCard *ngFor="let item of listCard[0]?.cartItemResponseSet">
  <Content>
    <div class="main_card" nz-row>
      <div nz-col nzSpan="6" class="card_img">
        <img
          nz-image
          width="80%"
          nzSrc="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1533427237i/41046229.jpg"
          alt="songay"
          nzDisablePreview="true"
        />
      </div>
      <div nz-col nzSpan="18" class="card_content">
        <div class="content_title">
          <p class="content_nameProduct">{{ item?.productResponse?.nameProduct }}</p>
          <p class="content_delete"><span nz-icon nzType="close" nzTheme="outline" (click)="handleOpenDeleteSingle()"></span></p>
        </div>
          <div nz-row >
          <div class="content_main" nz-col nzSpan="20">
            <div nz-row >
              <div nz-col nzSpan="8">
                <p class="editPrice">{{ item?.editPrice }}</p>
                <p class="unit">{{ item?.productResponse?.unit }}</p>
              </div>
              <div nz-col nzSpan="8" class="multiply" >
              X
              </div>
              <div nz-col nzSpan="8" >
                <input nz-input type="number"class="quantity" [ngModel] = "item?.quantity" />
              </div>
            </div>
            <div nz-row >
              <div nz-col nzSpan="8" class="isPlus">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                <!-- <span nz-icon nzType="minus" nzTheme="outline"></span> -->
              </div>
              <div nz-col nzSpan="8">
                <input nz-input type="number" class="rate" [ngModel] = "item?.rate" />
              </div>
              <div nz-col nzSpan="8" class="finalPrice">
                <p>10.000.000</p>
              </div>
            </div>
          </div>
          <div class="content_editQuantity" nz-col nzSpan="4">
            <div>
              <span class="editQuantity_up" nz-icon nzType="caret-up" nzTheme="outline"></span>
            </div>
            <div>
              <span class="editQuantity_down" nz-icon nzType="caret-down" nzTheme="outline"></span>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </Content>
</cCard>
